@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "IBM Plex Sans";
}
p{
  font-family: "IBM Plex Sans Thai";
}
.logo{
  font-family: "Iceland", sans-serif;
}
.rhombus {
  background-color: #031CFF;
  
}
.step3 {
  width: 80px;
  height: 10px;
  transform: skewX(45deg) scaleY(cos(45deg));
}
.rhombus1{
  background-color: #D9D9D9;
}
.step4 {
  width: 25px;
  height: 4px;
  transform: skewX(45deg) scaleY(cos(45deg));
}